@import 'reset';
$background-color: #e2ffff; // For Now
$primary-color: #03A696;
$secondary-color: #F24162;
$header-font: 'Dongle', sans-serif;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-width: 100vw;
}

body {
    font-size: 1.3rem;
    overflow-x: hidden;
    background-color: $background-color;
}

.banner-img {
    position: relative;
    width: 100%;

    h1 {
        color: $primary-color;
        max-width: 270px;
        border-radius: 0 10%;
        font-size: 8rem;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: rgba(116, 128, 131, 0.75);
        font-family: $header-font;
        line-height: 5rem;
        padding: 20px 35px 10px 35px;   // Fonts can make this quirky
        // padding: 20px 35px;
        text-transform: uppercase;
        &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-top: 2px solid $background-color;
            border-left: 2px solid $background-color;
            transform-origin: left top; // This thing is nifty
            transform: rotateZ(180deg);
            left: 100%;
            top: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-top: 2px solid $background-color;
            border-left: 2px solid $background-color;
            left: 0;
            top: 0;
        }
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;

    section {
        margin-bottom: 40px;
    }
}

h2 {
    color: $primary-color;
    font-size: 3.23rem;
    font-family: $header-font;
    font-weight: bold;
    text-decoration: underline $secondary-color;
    line-height: 2rem;
    margin-bottom: 12px;
}

p {
    font-family: 'Poppins', sans-serif;
    max-width: 30ch;
    line-height: 1.75;
    margin: 0 auto;
    margin-bottom: 15px;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

@media (min-width:612px) {

    .container {
        width: 90%;
        max-width: 700px;
    }

    .banner-img img {
        object-fit: cover;
        max-height: 60vh;    
    }

    .container > section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            max-height: 600px;
            max-width: 50%;
            aspect-ratio: auto;
            max-height: 600px;
            // margin: 0 0 0 100px;
            margin: 0;
            // object-fit: cover;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }
    p {
        margin: 0;
    }
}

@media (min-width: 1012px) {
    .container {
        max-width: 1000px;
        section {
            margin-bottom: 60px;
            justify-content: space-around;
        }
    }
}
