/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 100vw;
}

body {
  font-size: 1.3rem;
  overflow-x: hidden;
  background-color: #e2ffff;
}

.banner-img {
  position: relative;
  width: 100%;
}

.banner-img h1 {
  color: #03A696;
  max-width: 270px;
  border-radius: 0 10%;
  font-size: 8rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: rgba(116, 128, 131, 0.75);
  font-family: "Dongle", sans-serif;
  line-height: 5rem;
  padding: 20px 35px 10px 35px;
  text-transform: uppercase;
}

.banner-img h1:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 2px solid #e2ffff;
  border-left: 2px solid #e2ffff;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  left: 100%;
  top: 100%;
}

.banner-img h1:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 2px solid #e2ffff;
  border-left: 2px solid #e2ffff;
  left: 0;
  top: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.container section {
  margin-bottom: 40px;
}

h2 {
  color: #03A696;
  font-size: 3.23rem;
  font-family: "Dongle", sans-serif;
  font-weight: bold;
  -webkit-text-decoration: underline #F24162;
          text-decoration: underline #F24162;
  line-height: 2rem;
  margin-bottom: 12px;
}

p {
  font-family: 'Poppins', sans-serif;
  max-width: 30ch;
  line-height: 1.75;
  margin: 0 auto;
  margin-bottom: 15px;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 612px) {
  .container {
    width: 90%;
    max-width: 700px;
  }
  .banner-img img {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 60vh;
  }
  .container > section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container > section img {
    max-height: 600px;
    max-width: 50%;
    aspect-ratio: auto;
    max-height: 600px;
    margin: 0;
  }
  .container > section:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  p {
    margin: 0;
  }
}

@media (min-width: 1012px) {
  .container {
    max-width: 1000px;
  }
  .container section {
    margin-bottom: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=styles.css.map */